#home_in
{
    width: 100%;
    height: 80%;
    background-image: url(../images/header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h1
    {
        position: absolute;
        bottom: 1%;
        left: 15%;
        color: $blanco;
        font-size: 2.3rem;
        font-weight: 600;
    }
}