#home_in
{
    width: 100%;
    height: 80%;
    background-image: url(../images/header-in.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .bajada
    {
        position: absolute;
        bottom: 10%;
        left: 15%;
        color: $blanco;
        h1
        {
            font-size: 2.3rem;
            font-weight: 600;
        }
    }
}