header.navbar-fixed
{
  position: fixed;
  padding-top: 20px;
  height: 84px;
  width: 100%;
  top: 0;
  left: 0;
  transition: .5s ease-in-out all;
}
header.navbar-fixed.white
{
  nav
  {
    transition: 1s ease-in-out all;
    ul
    {
      li
      {
        a
        {
          color: $azul;
        }
      }
    }
  }
}