@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,900');

:root {
  --Montserrat: 'Montserrat', sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  font-size: 16px;
}

* {
  font-family: var(--Montserrat);
  box-sizing: inherit;
}

::before,
::after {
  box-sizing: inherit;
}
html, body{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.bg_azul
{
  background-color: #2056A6;
}
@mixin padding_xy($orientacion, $number) {
  @if $orientacion=="left"
  {
    padding-left: $number + px;
  }
  @if $orientacion=="right"
  {
    padding-right: $number + px;
  }
  @if $orientacion=="top"
  {
    padding-top: $number + px;
  }
  @if $orientacion=="bottom"
  {
    padding-bottom: $number + px;
  }
}
// General
@import 'variables';
@import 'navbar';
@import 'footer';
@import 'home/home';
@import 'home/servicios_home';
@import 'home/bodegas';
@import 'home/division';
@import 'home/red_de_bodegas';