:root {
  box-sizing: border-box;
  line-height: 1.6;
  font-size: 16px;
}

* {
  box-sizing: inherit;
}

::before,
::after {
  box-sizing: inherit;
}
html, body{
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.bg_azul
{
  background-color: #2056A6;
}
.bg_blanco
{
  background-color: #ffffff;
}
@mixin padding_xy($orientacion, $number) {
  @if $orientacion=="left"
  {
    padding-left: $number + px;
  }
  @if $orientacion=="right"
  {
    padding-right: $number + px;
  }
  @if $orientacion=="top"
  {
    padding-top: $number + px;
  }
  @if $orientacion=="bottom"
  {
    padding-bottom: $number + px;
  }
  @if $orientacion=="none"
  {
    padding: 0px;
  }
}
// General
@import 'variables';
@import 'navbar';
@import 'footer';
@import 'home_in';
@import 'home/home';
@import 'home/servicios_home';
@import 'home/bodegas';
@import 'home/division';
@import 'home/red_de_bodegas';
@import 'home/nuestros_clientes';
//quienes somos
@import 'quienes_somos/quienes_somos';
//Nuevas bodegas
@import 'nuevas_bodegas/caracteristicas';
@import 'nuevas_bodegas/bodegas_oficinas';
@import 'nuevas_bodegas/mapa_ubicacion';
//red de bodegas
@import 'red_de_bodegas/red_de_bodegas';
//contacto
@import 'contacto';
//responsive
@import 'responsive';