#bodegas
{
    background-color: $gris_bodegas;
    .row
    {
        margin-bottom: 0;
        .pdr
        {
            @include padding_xy(right,0);
        }
    }
    .cont_bodega
    {
        width: 70%;
        float: right;
        padding: 5%;
        padding-left: 0;
        padding-right: 0;
        max-height: 440px;
        margin: 0;
        padding-bottom: 0;
        .titulo
        {
            font-size: 1.8rem;
            font-weight: 600;
            color: #024E7F;
            margin-bottom: 5px;
        }
        p
        {
            margin: 0;
            font-weight: 500;
            color: #024E7F;
        }
        ul
        {
            margin-bottom: 0;

            li
            {
                list-style-type: disc;
                font-size: 0.8rem;
                font-weight: 500;
                color: #555555;
            }
        }
        a.ver_mas
        {
            height: 24px;
            color: #024e7f;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 1rem;
            display: table;
            margin-left: auto;
            margin-top: 13px;
            margin-right: 10px;
            position: relative;
            &:after
            {
                content: '>';
                font-size: 1.5rem;
                right: -15px;
                top: 2px;
                position: absolute;
            }
        }
    }
}