.seccion_division
{
    background-image: url(./../../images/divisor.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3% 0;
    p
    {
        color: $blanco;
        text-align: center;
    }
}