#nuestros_clientes
{
    padding: 3% 0;
    .titulo
    {
        text-align: center;
        margin: 0;
        font-size: 1.8rem;
        margin-bottom: 5%;
        font-weight: 300;
        color: #0B5F7C;
        strong
        {
            font-weight: 700;
        }
    }
    .swiper-slide
    {
        img
        {
            display: block;
            margin: 0 auto;
        }
    }
}