#red_de_bodegas
{
    background-color: $gris_red_bodegas;
    padding: 3% 0;
    .titulo
    {
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 5%;
    }
}