.items  
{
    padding: 2% 5%;
    .row
    {
        margin-bottom: 0;
        figure
        {
            margin: 1em 20px;
            img
            {
                margin: 20px auto;
                display: block;
                max-width: 80px;
            }
            figcaption
            {
                p
                {
                    text-align: center;
                    margin: 0;
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: #595959;
                }
            }
        }
    }
}